[project]
	description = This software (CMVS) takes the output of a structure-from-motion (SfM) software as input, then decomposes the input images into a set of image clusters of managable size. An MVS software can be used to process each cluster independently and in parallel, where the union of reconstructions from all the clusters should not miss any details that can be otherwise obtained from the whole image set. CMVS should be used in conjunction with an SfM software Bundler and an MVS software PMVS2 (PMVS version 2).
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/json87
[access "refs/for/refs/*"]
	read = group user/json87
	push = group user/json87
	label-Code-Review = -2..+2 group user/json87
	label-Verified = -1..+1 group user/json87
	rebase = group user/json87
	removeReviewer = group user/json87
	submit = group user/json87
[access "refs/heads/*"]
	read = group user/json87
	create = group user/json87
	push = +force group user/json87
	pushMerge = group user/json87
[access "refs/tags/*"]
	push = +force group user/json87
	pushTag = group user/json87
	pushSignedTag = group user/json87
